<table>
    <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>
    </thead>
    <tbody *ngFor="let u of user">
        <td>{{u.id}}</td>
        <td>{{u.name}}</td>
        <td>{{u.age}}</td>
    </tbody>
</table>
<div>
    <input type="number" ng-click="changeDb()">
    <button type="number" (click)="changeDb()">changeDb</button>
    <table>
        <thead>
            <th>Id</th> 
            <th>Name</th>
            <th>Age</th>
        </thead>
        <tbody *ngFor="let un of user">
            <td>{{un.id}}</td>
            <td>{{un.name}}</td>
            <td>{{un.age}}</td>
        </tbody>
    </table>
</div>
